[submodule "ext/TemplateECS"]
	path = ext/TemplateECS
	url = git@github.com:Lehdari/TemplateECS.git
[submodule "ext/vecmat"]
	path = ext/vecmat
	url = https://github.com/tkln/vecmat
[submodule "ext/glsprite"]
	path = ext/glsprite
	url = https://github.com/tkln/glsprite.git
[submodule "ext/libgl3w"]
	path = ext/libgl3w
	url = https://github.com/sndels/libgl3w.git
